<p>Select the countries you would like to visit?</p>
<form name="form" #f="ngForm">
  <ngx-multiselect required
    #name="ngModel"
    name="country"
    [multiple]="false"
    [(ngModel)]="selectedOptions" [options]="options">
  </ngx-multiselect>
</form>
<div *ngIf="name">
  <b>State: </b>
  <span *ngIf="name.pristine">Pristine,</span>
  <span *ngIf="name.touched">Touched,</span>
  <span *ngIf="name.untouched">Untouched,</span>
  <span *ngIf="name.dirty">Dirty,</span>
  <span *ngIf="name.valid">Valid,</span>
  <span *ngIf="name.invalid">Invalid</span>
</div>
