.docs-sidenav {
    width: 15rem;
    border-right: 1px solid rgba(0,0,0,.12)
}

.docs-sidenav-container {
    width: 85rem;
    height: calc(100vh - 64px);
}

.selected {
    background: rgba(0,0,0,.04);
}