<h2>Single Select (with Property Map)</h2>
<textarea disabled rows="6" cols="40">
  <ngx-multiselect 
    [(ngModel)]="propertyMapValue"
    [propertyMap]="propertyMap" 
    [options]="propertyMapOptions"
    ngDefaultControl>
  </ngx-multiselect>
</textarea>

<ngx-multiselect 
  [(ngModel)]="propertyMapValue"
  [propertyMap]="propertyMap" 
  [options]="propertyMapOptions"
  ngDefaultControl>
</ngx-multiselect>

{{propertyMapValue | json}}

<hr />

<h2>Multiple Select (with Property Map)</h2>
<ngx-multiselect 
  [(ngModel)]="propertyMapValueMultiselect"
  [propertyMap]="propertyMap"
  [multiple]="true"
  [options]="propertyMapOptionsMultiselect"
  ngDefaultControl>
</ngx-multiselect>
{{propertyMapValueMultiselect | json}}
