<div>
  <ngx-multiselect
    [formControl]="grouping"
    ngDefaultControl
    [options]="groupingOptions"
    [groupedProperty]="'category'"
    [multiple]="true"
    (onOpen)="onOpenFired()"
    (onClose)="onCloseFired()"
    (onItemClick)="onItemClickFired($event)"
    (onGroupItemClick)="onGroupItemClickFired($event)"
    (onSelectAll)="onSelectAllFired()"
    (onSelectNone)="onSelectNoneFired()"
    (onReset)="onResetFired()"
    (onClear)="onClearFired()"
    (onSearchChange)="onSearchChangeFired($event)">
  </ngx-multiselect>
</div>
<b *ngIf="message">{{message}}</b>
