<h2>Custom Template</h2>
<ngx-multiselect
  [formControl]="customTemplateSelect" 
  ngDefaultControl 
  [options]="customTemplateOptions"
  [propertyMap]="{'img': 'img'}"
  [multiple]="true">
  <!-- TODO: Check on below let attributes are neccessary -->
  <ng-template
    let-getOptionStyle="getOptionStyle"
    let-options="options"
    let-trackByOption="trackByOption"
    let-select="select">
    <div class="option" [ngClass]="getOptionStyle(option)" *ngFor="let option of options;trackBy:trackByOption" (click)="select(option)">
      <div class="img">
        <img [src]="option.img" width="40px" height="40px" [attr.alt]="option.name" />
        {{option.name}}
      </div>
    </div>
  </ng-template>
</ngx-multiselect> 