<h2>Single Select (Template Driven form)</h2>
<!-- [ofPrimitiveType]="true" -->
<ngx-isteven-multiselect 
    [(ngModel)]="test"
    [options]="options"
    ngDefaultControl
></ngx-isteven-multiselect>
<b>Selected Value: </b> {{test | json}}
<hr />
<h2>Multiple Select (Model Driven form)</h2>
<ngx-isteven-multiselect 
    [formControl]="test1"
    ngDefaultControl
    [options]="objectOptions"
    [groupedProperty]="'test'"
    [multiple]="true">
</ngx-isteven-multiselect>
<b>Selected Values: </b> {{test1?.value | json}}
<hr />