<h2>Dropdown values</h2>
<!-- <input type="text" [(ngModel)]="title" /> {{title}} -->
<hr />
<ngx-isteven-multiselect 
    [(ngModel)]="test"
    [options]="options"
    ngDefaultControl
    [ofPrimitiveType]="true"></ngx-isteven-multiselect>
<hr />
{{test?.name}}
<ngx-isteven-multiselect 
    [formControl]="test1"
    [propertyMap]="propertyMap"
    ngDefaultControl
    [selectedOptions]="[{id: 1, name: '123'}]"
    [options]="objectOptions"
    (change)="change($event)"
    [multiple]="true">
</ngx-isteven-multiselect>

{{test1?.value?.length}}