<p>Select your favourite teams from the following</p>
<ngx-multiselect
  [formControl]="selectedOptions"
  ngDefaultControl
  [options]="options"
  [multiple]="true"
  [disabled]="isDisabled"
  [groupedProperty]="'team'"
  #multiSelect>
</ngx-multiselect>

<button mat-button (click)="disableWholeDropdown()">Disable Whole Dropdown</button>
<button mat-button (click)="disableWholeDropdownTempRefVariable()">Disable Whole Dropdown Using Template Ref variable</button>
<button mat-button (click)="disableFirstOption()">Disable First Option</button>
<button mat-button (click)="disableWholeGroup()">Disable Group</button>
