<p>Select your favourite teams from the following:</p>
<form [formGroup]="form">
  <ngx-multiselect
    formControlName="selectedOptions"
    ngDefaultControl
    [options]="options"
    [groupedProperty]="'team'" #multiSelect>
  </ngx-multiselect>
</form>

<button mat-button (click)="disableWholeDropdown()">Disable Whole Dropdown</button>
<button mat-button (click)="enableWholeDropdown()">Enable Whole Dropdown</button>
<button mat-button (click)="disableFirstOption()">Disable First Option</button>
<button mat-button (click)="disableWholeGroup()">Disable Group</button>
