<h2>Single Select (Template Driven form with callback events check)</h2>
<div>
  <ngx-multiselect 
    [(ngModel)]="singleSelect"
    [options]="singleSelectOptions"
    (onOpen)="genericEvent($event, 'onOpen')"
    (onClose)="genericEvent($event, 'onClose')"
    (onItemClick)="genericEvent($event, 'onItemClick')"
    (onSelectAll)="genericEvent($event, 'onSelectAll')"
    (onSelectNone)="genericEvent($event, 'onSelectNone')"
    (onReset)="genericEvent($event, 'onReset')"
    (onClear)="genericEvent($event, 'onClear')"
    (onSearchChange)="genericEvent($event, 'onSearchChange')"
    ngDefaultControl
  ></ngx-multiselect>
</div>
<b>Selected Value: </b> {{singleSelect | json}}